# Mukesh changes for UIO, taken from meta-dpu repo

CONFIG_DEVPTS_FS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_UNIX98_PTYS=y
CONFIG_TTY=y

CONFIG_UIO=y
CONFIG_UIO_GENERIC=y
CONFIG_UIO_PDRV_GENIRQ=y

CONFIG_MEMORY=y
CONFIG_OF_OVERLAY=y
CONFIG_OF=y


## Testing, Must Remove later on
CONFIG_STRICT_DEVMEM=n

## Enabling unalingned memory access
CONFIG_RISCV_EMULATED_UNALIGNED_ACCESS=y
CONFIG_RISCV_PROBE_UNALIGNED_ACCESS=y
CONFIG_RISCV_SLOW_UNALIGNED_ACCESS=y
CONFIG_RISCV_EFFICIENT_UNALIGNED_ACCESS=n