[Unit]
Description=SCAI Boot Count Logger.

DefaultDependencies=no
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/scai_boot_count / local w25
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
