[Unit]
Description=SCAI Boot Count Logger.

DefaultDependencies=no
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/scai_boot_count /opt/scai_mtd_b shared mtd_b
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
