CONFIG_ENV_IS_NOWHERE=n
CONFIG_ENV_IS_IN_UBI=y
CONFIG_ENV_UBI_PART="ubi"
CONFIG_ENV_UBI_VOLUME="env"
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi-nand1:2m(payload_b),119m(ubi_b);spi-nand0:2m(payload_a),119m(ubi_a)"
#CONFIG_MTDPARTS_DEFAULT=""
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="earlycon console=ttyS1,921600n8 uio_pdrv_genirq.of_id=generic-uio ubi.mtd=ubi_b root=ubi0:rootfs rootfstype=ubifs rootwait rw"
# config parameters introduced for SCAI
CONFIG_ENV_UBI_PART="ubi"
CONFIG_SCAI_FPGAQSPI=y
CONFIG_NAND=n
CONFIG_DM_NAND=n
CONFIG_MTD_SCAI_MT29F=n
CONFIG_MTD_SPI_NAND=y
CONFIG_MTD_NAND_CORE=y
# CONFIG_SPI_FLASH_WINBOND=y
CONFIG_BAUDRATE=921600
CONFIG_PHY_VITESSE=n
CONFIG_PHY_MSCC=y
CONFIG_CMD_ETHSW=y
CONFIG_CMD_CONFIG=y
CONFIG_CMD_SBI=y
CONFIG_CMD_LINK_LOCAL=y
CONFIG_CMD_WGET=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_LOG=y
CONFIG_CMD_DIAG=y
CONFIG_CMD_EVENT=y
#CONFIG_BOOTDELAY=10
###
### Logging
###
#CONFIG_LOG=y
#CONFIG_LOG_MAX_LEVEL=9
###CONFIG_LOG_MAX_LEVEL=LOG_DEBUG
#CONFIG_LOG_DEFAULT_LEVEL=9
#CONFIG_LOG_CONSOLE=y
### CONFIG_LOGF_FILE is not set
### CONFIG_LOGF_LINE is not set
### CONFIG_LOGF_FUNC is not set
#CONFIG_LOGF_FUNC_PAD=20
## CONFIG_LOG_SYSLOG is not set
#CONFIG_LOG_ERROR_RETURN=y
#CONFIG_CC_OPTIMIZE_FOR_SIZE=n
#CONFIG_CC_OPTIMIZE_FOR_DEBUG=y
#CONFIG_LOGF_FILE=y
#CONFIG_LOGF_LINE=y
#CONFIG_LOGF_FUNC=y
#CONFIG_TOOLS_DEBUG=y
#CONFIG_LOGLEVEL=9
#CONFIG_SUPPORT_OF_CONTROL=y
