[Unit]
Description=3Dplus MTD service unit.

DefaultDependencies=no
After=local-fs-pre.target
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/sbin/3dplus-mtd.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=local-fs.target
