CONFIG_ENV_IS_NOWHERE=n
CONFIG_ENV_IS_IN_UBI=y
CONFIG_ENV_UBI_PART="ubi"
CONFIG_ENV_UBI_VOLUME="env"
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi-nand1:2m(payload_b),119m(ubi_b);spi-nand0:2m(payload_a),119m(ubi_a)"
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="earlycon console=ttyS1,1500000n8 uio_pdrv_genirq.of_id=generic-uio ubi.mtd=ubi_b root=ubi0:rootfs rootfstype=ubifs rootwait rw"
# config parameters introduced for SCAI
CONFIG_ENV_UBI_PART="ubi"
CONFIG_MTD_SCAI_MT29F=n
CONFIG_MTD_SPI_NAND=y
CONFIG_SCAI_FPGAQSPI=y
#CONFIG_SPI_FLASH_STMICRO=y
#CONFIG_SPI_FLASH_MTD=y
CONFIG_BAUDRATE=1500000
