CONFIG_ENV_IS_NOWHERE=n
CONFIG_ENV_IS_IN_UBI=y
CONFIG_ENV_UBI_PART="ubi"
CONFIG_ENV_UBI_VOLUME="env"
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi-nand0:2m(payload),119m(ubi)"
# config parameters introduced for SCAI
CONFIG_MTD_SCAI_MT29F=n
CONFIG_MTD_SPI_NAND=y
CONFIG_SCAI_FPGAQSPI=y
CONFIG_BAUDRATE=921600
